

<head>
    <style>
        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }
        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }
    </style>
   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">

                <div class="row col-md-12 custyle" style="margin-top: 18px;">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        @foreach (Cinemonito.Entitys.ChairEntity item in ViewBag.chairSelected)
                        {
                            <tr>

                                <td>@item.location</td>
                                <td>@item.price</td>
                                <td class="text-center">
                                    <a href="@Url.Action("selectChair", new { idChair = @item.idChair, idMovieByRoom = @item.idMovieByRoom, chairSelectedId= @item.Id, chairSelectedArray = Json.Encode(ViewBag.arrayChairSelected), delete = true})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
                                </td>
                                
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th colspan="2">TOTAL: </th>
                                <td>@ViewBag.totalPrice </td>
                            </tr>
                            <tr>
                                <td colspan="3">    
                                    <a class="btn btn-success" style="width: 100%">Comprar Boletas</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row col-md-12 custyle custab">
                    <div class="row col-md-offset-1 col-md-9" style="color: white; font-size: x-large; background: black; text-align: center; height: 33px; width: 80%;">Pantalla</div>
                    <div class="row col-md-12">
                        <h1 class="col-md-1" style="display: flex; justify-content: center; font-weight: bold; font-size: 20px; margin-bottom: 15px; writing-mode: vertical-lr; transform: rotate(180deg); height: 21%; text-align: center;">
                            General
                        </h1>
                        <div class="col-md-11" style="border-top-width: 5px;padding-top: 15px;padding-bottom: 15px;">
                            @foreach (Cinemonito.Entitys.ChairEntity item in ViewBag.chairGen)
                            {
                                if (@item.isAvalible && @item.isNotAvalibleLocal != true)
                                {
                                    <div class="col-sm-1" style=" background-color: #d0d6d0; display: flex; align-items: center; width: 13%; justify-content: center; padding: 15px;">
                                        <a style="width: 100%; font-weight: 900; color: white; padding: 5px; background-color:@((@item.isAvalible) ? ((@item.isNotAvalibleLocal == true) ? "black" : "#24ff1a") : "red");" href="@Url.Action("selectChair", new { idChair = @item.idChair, idMovieByRoom = @item.idMovieByRoom, chairSelectedId= @item.Id, chairSelectedArray = Json.Encode(ViewBag.arrayChairSelected), delete = false})">@item.location</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-1" style=" background-color: #d0d6d0; display: flex; align-items: center; width: 13%; justify-content: center; padding: 15px;">
                                        <a style="width: 100%; font-weight: 900; color: white; padding: 5px; background-color:@((@item.isAvalible) ? ((@item.isNotAvalibleLocal == true) ? "black" : "#24ff1a") : "red");">@item.location</a>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <h1 class="col-md-1" style="display: flex; justify-content: center; font-weight: bold; font-size: 20px; margin-bottom: 15px; writing-mode: vertical-lr; transform: rotate(180deg); height: 21%; text-align: center;">
                            Preferencial
                        </h1>
                        <div class="col-md-11" style="border-top-width: 5px;padding-top: 15px;padding-bottom: 15px;">
                            @foreach (Cinemonito.Entitys.ChairEntity preferencial in ViewBag.chairPre)
                            {
                                if (@preferencial.isAvalible && @preferencial.isNotAvalibleLocal != true)
                                {
                                    <div class="col-sm-1" style="background-color: #d0d6d0; display: flex; align-items: center; width: 13%; justify-content: center; padding: 15px;">
                                        <a style="width: 100%; font-weight: 900; color: white; padding: 5px; background-color:@((@preferencial.isAvalible) ? ((@preferencial.isNotAvalibleLocal == true) ? "black" : "#24ff1a") : "red");" href="@Url.Action("selectChair", new { idChair = @preferencial.idChair,  idMovieByRoom =@preferencial.idMovieByRoom, chairSelectedId= @preferencial.Id, chairSelectedArray = Json.Encode(ViewBag.arrayChairSelected), delete = false})">@preferencial.location</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-1" style="background-color: #d0d6d0; display: flex; align-items: center; width: 13%; justify-content: center; padding: 15px;">
                                        <a style="width: 100%; font-weight: 900; color: white; padding: 5px; background-color:@((@preferencial.isAvalible) ? ((@preferencial.isNotAvalibleLocal == true) ? "black" : "#24ff1a") : "red");">@preferencial.location</a>
                                    </div>
                                }

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




    
