@model IEnumerable<Cinemonito.Models.Employee>

@{
    ViewBag.Title = "Comprar Boletas";
}

<button class="row btn-secondary btn-outline-success">
    @Html.ActionLink("Crear empleado", "createEmployee", "Main")
</button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDateInit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHeadquarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position.Position1)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDateInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHeadquarter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPosition)
            </td>
            <td>
                <a href="@Url.Action("delete", new { id = item.Id})"><i class="glyphicon glyphicon-trash"></i></a>
                <a href="@Url.Action("editEmployee", new { id = item.Id})"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>
    }
    
    </table>
