@using Cinemonito.Entitys;


@{
    ViewBag.Title = "Comprar Boletas";
}

<div class="row">
    @*<button class="btn-secondary btn-outline-success col-md-4 col-md-offset-4" style="margin-top: 10px;" onclick="location.href='@Url.Action("Action", "Controller")'">
        @Html.ActionLink()
    </button>*@
    @Html.ActionLink("Crear empleado", "createEmployee", "Employee", routeValues: null, htmlAttributes: new { @style = "margin-top: 10px;", @class = "btn btn-primary col-md-4 col-md-offset-4", @role = "button" })

</div>

<div class="d-flex justify-content-center align-items-center container ">
    <div class="row">
        <table class="table text-center">
            <tr>
                <th>
                    Identification
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    ContractDateInit
                </th>
                <th>
                    ContractDateEnd
                </th>
                <th>
                    Salary
                </th>
                <th>
                    IdHeadquarter
                </th>
                <th>
                    Password
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@ViewBag.employees[i].identification*@
                        @item.identification
                    </td>
                    <td>
                        @*@ViewBag.employees[i].name*@
                        @item.name
                    </td>
                    <td>
                        @*@ViewBag.employees[i].phone*@
                        @item.phone
                    </td>
                    <td>
                        @*@ViewBag.employees[i].contractDateInit*@
                        @item.contractDateInit
                    </td>
                    <td>
                        @*@ViewBag.employees[i].contractDateEnd*@
                        @item.contractDateEnd
                    </td>
                    <td>
                        @*@ViewBag.employees[i].salary*@
                        @item.salary
                    </td>
                    <td>
                        @*@ViewBag.employees[i].headquarterName*@
                        @item.headquarterName
                    </td>
                    <td>
                        @*@ViewBag.employees[i].password*@
                        @item.password
                    </td>
                    <td>
                        @*@ViewBag.employees[i].role*@
                        @item.role
                    </td>
                    <td>
                        <a href="@Url.Action("delete", new { id = @item.id})"><i class="glyphicon glyphicon-trash"></i></a>
                        <a href="@Url.Action("editEmployee", new { id = @item.id})"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
            }

        </table>
     </div>
</div>
